@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-size: 14px;
    font-family: "Lato", sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(216, 215, 215);
}

::-webkit-scrollbar-track {
    background-color: rgb(247, 246, 246);
}




/* product details modal css */

.productDetailDialog {
    .MuiPaper-root {
        max-width: 64rem;
    }
}

.productDescraption {
    .contentContainer {
        .closeBtn {
            position: absolute;
            border: 1px solid gray;
            height: 40px;
            min-width: 40px;
            border-radius: 50%;
            top: 20px;
            right: 20px;
            background-color: #ffffff;
            z-index: 200;
        }

        .MuiRating-root {
            .css-dqr9h-MuiRating-label {
                font-size: 1rem;
            }
        }
    }

    .slider-container {
        .slick-dots {
            position: static;

            li {
                width: 80px;
                margin-right: 5px;
                height: fit-content;

                a {
                    img {
                        border-radius: 5px;
                        box-shadow: 0px 0px 2px 0px gray;
                    }
                }
            }

            .slick-active {
                border: 1px solid blue;
                border-radius: 5px;
            }
        }
    }

    .decreaseQtyBtn,
    .increaseQtyBtn {
        border: 1px solid gray;
        height: 40px;
        min-width: 40px;
        border-radius: 50%;
        background-color: rgb(236, 235, 235);

        &:hover {
            background: orange;
        }
    }

    .addToCartBtn {
        background-color: rgb(1, 1, 166);
        color: white;
        padding-inline: 30px;
        padding-block: 7px;
        border-radius: 50px;
        text-transform: capitalize;

        &:hover {
            background-color: rgb(3, 3, 220);
        }
    }

    .addToWishlist {
        border: 1px solid gray;
        background-color: white;
        color: gray;
        padding-inline: 10px;
        padding-block: 5px;
        border-radius: 50px;
        font-size: 12px;

    }

    .allLinkes {
        a {
            text-decoration: none;
            color: rgb(104, 104, 104);
        }
    }

}